body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--text);
}

:root {
  --background-color: #573824;
  --surface-color: #F0E8C2;
  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
  --text-color-on-bg: #F0E8C2;
  --font-family: "Alice", serif;
  --h1: normal 40px/150% var(--font-family);
  --h2: normal 24px/150% var(--font-family);
  --text: normal 16px/150% var(--font-family);
}